<div class="container-fluid top-container text-light bg-dark p-3">
  <a id="nav-heading" href="/">
    <h2 style="text-align: center;">Savior Hospital Management System</h2>
  </a>
  {% if session.get('username') %}
  <div class="container-fluid row justify-content-center" style="text-align: center;">
    {% if session.get('username') == 'AdmissionEx' %}
    <!-- Patient Dropdown Menu -->
    <span class="dropdown col-md-3 col-sm-12 p-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="PatientDropDownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Patient
      </button>
      <!-- Patient Dropdown Options -->
      <div class="dropdown-menu" aria-labelledby="PatientDropDownMenuButton">
        <a class="dropdown-item" href="{{ url_for('PatientRegister' )}}">Register</a>
        <a class="dropdown-item" href="{{ url_for('PatientUpdate' )}}">Update</a>
        <a class="dropdown-item" href="{{ url_for('PatientDelete')}}">Delete</a>
        <a class="dropdown-item" href="{{ url_for('PatientView')}}">View Patients</a>
        <a class="dropdown-item" href="{{ url_for('PatientSearch')}}">Search</a>
        <a class="dropdown-item" href="{{ url_for('PatientBilling')}}">Billing</a>
      </div>
    </span>
    {% elif session.get('username') == 'Pharmacist' %}
    <!-- Pharmacy Dropdown Menu -->
    <span class="dropdown col-md-3 col-sm-12 p-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="PharmacyDropDownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pharmacy
      </button>
      <!-- Dropdown Options -->
      <div class="dropdown-menu" aria-labelledby="PharmacyDropDownMenuButton">
        <a class="dropdown-item" href="{{ url_for('PharmacyFetch')}}">Get Patient Details</a>
        <!-- <a class="dropdown-item" href="{{ url_for('PharmacyIssueMed')}}">Issue Medicine</a> -->
      </div>
    </span>
    {% elif session.get('username') == 'DiagnosticEx' %}
    <!-- Diagnostics Dropdown Menu -->
    <span class="dropdown col-md-3 col-sm-12 p-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="DiagnosticsDropDownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Diagnostics
      </button>
      <!-- Dropdown Options -->
      <div class="dropdown-menu" aria-labelledby="DiagnosticsDropDownMenuButton">
        <a class="dropdown-item" href="{{ url_for('DiagnosticsFetch')}}">Get Patient Details</a>
        <!-- <a class="dropdown-item" href="{{ url_for('DiagnosticsAdd')}}">Add Diagnostics</a> -->
      </div>
    </span>
    {% endif %}
  </div>
  <div class="container">
    <!-- Welcome Message -->
    <h5>
      Welcome, {{ session.get('username') }}
      <a style="float: right;" class="btn btn-info" href="{{ url_for('logout') }}" role="button">Logout</a>
    </h5>
  </div>
  {% endif %}
</div>