{% extends 'layout.html' %} {% block head %}
<title>Update Patient Details</title>
{% endblock %} {% block body %}
<div class="jumbotron">
    <h1 class="text-center">Patient Update</h1>
    <br>
    <form method="POST" novalidate>
        {{ SearchForm.csrf_token }}
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ SearchForm.patient_id.label }}
            </label>
            {{ SearchForm.patient_id(class_="form-control" )}}
            <!-- Error Messages -->
            {% for error in SearchForm.patient_id.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>

        {{ SearchForm.submit(class_="btn btn-primary", value="Search" )}}
    </form>
    
    
    <!-- If Patient Found -->
    {% if patientSchema %}
    <hr style="width:50%;text-align:left;margin-left:5; color:gray;background-color:gray; height:0.5px">
    <form action="" method="post">
        {{ patientSchema.csrf_token }}
        <div class="form-group" style="display: none;">
            <label for="formGroupExampleInput">
                {{ SearchForm.patient_id.label }}
            </label>
            {{ SearchForm.patient_id(class_="form-control" )}}
            <!-- Error Messages -->
            {% for error in SearchForm.patient_id.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group" style="display: none;">
            <label for="formGroupExampleInput">
                {{ patientSchema.patient_ssn.label }}
            </label>
            {{ patientSchema.patient_ssn(class_="form-control", value=patientData.ws_ssn)}}
            <!-- Error Messages -->
            {% for error in patientSchema.patient_ssn.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ patientSchema.patient_name.label }}
            </label>
            {{ patientSchema.patient_name(class_="form-control", value=patientData.ws_pat_name) }}
            <!-- Error Messages -->
            {% for error in patientSchema.patient_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ patientSchema.patient_age.label }}
            </label>
            {{ patientSchema.patient_age(class_="form-control", value=patientData.ws_age)}}
            <!-- Error Messages -->
            {% for error in patientSchema.patient_age.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ patientSchema.date_of_admission.label }}
            </label>
            {{ patientSchema.date_of_admission(class_="form-control", value=patientData.ws_doj.strftime('%Y-%m-%d'))}}
            <!-- Error Messages -->
            {% for error in patientSchema.date_of_admission.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ patientSchema.type_of_bed.label }}
            </label>
            {{ patientSchema.type_of_bed(class_="form-control", id=patientData.ws_rtype )}}
            <script>
                e = document.getElementsByTagName('select')[0]
                selectedField = e.id
                len = e.length
                for (i = 0; i < len; i++) {
                    if (e[i].value === selectedField) {
                        e[i].selected = true
                        break
                    }

                }
            </script>

            <!-- Error Messages -->
            {% for error in patientSchema.type_of_bed.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ patientSchema.address.label }}
            </label>
            {{ patientSchema.address(class_="form-control", id=patientData.ws_adrs) }}
            <script>
                e = document.getElementsByTagName('textarea')[0]
                e.value = e.id
            </script>
            <!-- Error Messages -->
            {% for error in patientSchema.address.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ patientSchema.state.label }}
            </label>
            {{ patientSchema.state(class_="form-control", value=patientData.ws_state)}}
            <!-- Error Messages -->
            {% for error in patientSchema.state.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">
                {{ patientSchema.city.label }}
            </label>
            {{ patientSchema.city(class_="form-control", value=patientData.ws_city)}}
            <!-- Error Messages -->
            {% for error in patientSchema.city.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        
        <input type="hidden" name="updateRequested" value="True">
        {{ patientSchema.submit(class_="btn btn-primary", value="Update" )}}
        {% endif %}

    </form>
</div>

{% endblock %}