{% extends 'layout.html' %}
{% block head %}
<title>Patient Billing</title>
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="text-center">Patient Billing</h1>
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="formGroupExampleInput">{{ form.patient_id.label }}</label>
            {{ form.patient_id(class_="form-control")}}

            <!-- Error Messages -->
            {% for error in form.patient_id.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {{ form.submit(class_="btn btn-primary", value="Search")}}

        <br>
        <br>
        {% if patient %}

        <h3 class="text-center">Patients Details</h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date of Admission</th>
                    <th scope="col">Date of Discharge</th>
                    <th scope="col">Type of Room</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ patient.ws_pat_id }}</th>
                    <td>{{ patient.ws_pat_name }} </td>
                    <td>{{ patient.ws_age }} </td>
                    <td>{{ patient.ws_pat_name }} </td>
                    <td>{{ patient.ws_doj }} </td>
                    <td>{{ patient.ws_dod }} </td>

                    {% if patient.ws_rtype == 'General'%}
                        <td>General Ward</td>
                    {% elif patient.ws_rtype == 'Semi'%}
                        <td> Semi Sharing</td> 
                    {% elif patient.ws_rtype == 'Single'%}
                        <td> Single Room </td>
                    {% endif %}
                    
                </tr>
            </tbody>
        </table>

        <div style="float:left">
            <span style="padding-right: 2rem;">
                <b>Number of Days:</b> {{ days }}
            </span>
        </div>
        <div style="float:right; padding-right: 6rem;">
            <span>
                <b>Bill for Room:</b> {{ cost }}
            </span>
        </div>

        <br>
        <br>
        <hr style="width:50%;text-align:left;margin-left:5; color:gray;background-color:gray; height:0.5px">
        <br>
        <h3 class="text-center">Medicine Issued</h3>
        <br>
        {% if MedJoinedTable[0] %}
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Serial No</th>
                    <th scope="col">Medicines issued</th>
                    <th scope="col">Qt of Medicine</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Amount</th>

                </tr>
            </thead>
            <tbody>

                {% for row in MedJoinedTable %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ row[0].medicine_name }} </td>
                    <td>{{ row[1].ws_qty }} </td>
                    <td>{{ row[0].rate }} </td>
                    <td>{{ row[1].ws_qty * row[0].rate }} </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
        <div style="float:right">
            <span style="padding-right: 2rem;">
                <b>Bill for Pharmacy: Rs.</b> {{ amount['medAmount'] }}
            </span>
        </div>
        {% else %}
        <div>
            <center>
            No Medicines Issued till now...
        </center>
        </div>
        {% endif %}

        <br>
        <br>
        <hr style="width:50%;text-align:left;margin-left:5; color:gray;background-color:gray; height:0.5px">
        <br>
        <h3 class="text-center">Diagnostics Conducted</h3>
        <br>
        {% if DiagJoinedTable[0] %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Serial No</th>
                    <th scope="col">Test Issued</th>
                    <th scope="col">Price</th>

                </tr>
            </thead>
            <tbody>

                {% for row in DiagJoinedTable %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ row[0].test_name }} </td>
                    <td>{{ row[0].test_charge }} </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
        
        <div style="float:right">
            <span style="padding-right: 2rem;">
                <b>Bill for Diagnostics Rs.</b> {{ amount['diagAmount'] }}
            </span>
        </div>
        <br>
        <br>
        <hr style="width:50%;text-align:left;margin-left:5; color:gray;background-color:gray; height:0.5px">
        <br>
        {% else %}
        <div>
            <center>
            No Test(s) Conducted till now...
        </center>
        </div>
        {% endif %}

        {% if showConfirmBtn %}
        <!-- Confirm Button -->
        {{ form.submit(class_="btn btn-primary", value="Confirm")}}
        {% endif %}
        <span style="padding-right: 5rem; float:right">
            <b>Grand Total: Rs.</b> {{ cost + amount['medAmount'] + amount['diagAmount'] }}
        </span>


        {% endif %}
    </form>
</div>

{% endblock %}